@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a{
  text-decoration: none;
  color: grey;
}

.left-links{
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-left: 20px;

}

.right-links{
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
